.sidebar-container {
    border: 1px solid darkred;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
}

.sidebar-container-visible {
    transform: translateX(0px);
    transition:  width 0.1s ease, transform 0.25s ease-in-out 0.1s;
}

.sidebar-container-hidden {
    transform: translateX(-285px);
    transition: transform 0.25s ease-in-out, width 0.2s ease 0.25s;
}